{
    "root": true,
    
    "parserOptions": { 
        "project": ["./tsconfig.json"] ,
         "ecmaVersion": 2017},
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "semi": ["error", "always"]
        
    },
    "ignorePatterns": ["src/**/*.test.ts", "src/frontend/generated/*"]
    
}